/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 mar 2024, 11:07:53
    Author     : Mati
*/
.deleteInput{
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 5px;
    width: 250px;
}
.deleteButton{
    display: block;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px;
}
.deleteButton:hover{
    background: rgb(168, 95, 95);
    color: black;
}
.form{
    text-align: center;
}

.first-color { 
    background: #dbd8e3; 
}
	
.second-color { 
    color: #5c5470; 
}

.careerList{
    list-style: none;
}
.careerList > li{
    border: 1px solid #352f44;
    background-color: #5c5470;
    color: whitesmoke;    
    padding: 10px;
    margin: 5px;
    width: 500px;
}
.careerList > li > a{
    float: right;
    text-decoration: none;
    color: whitesmoke;    
    margin: 5px;
}
.careerList > li > a:hover{
    color: red;
}
.indexNav{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indexNav > li{
    border: 1px solid #352f44;
    background-color: #5c5470;
    padding: 10px;
    margin: 5px;
    width: 100px;
    text-align: center;
}
.indexNav > li > a{
    text-decoration: none;
    color: whitesmoke;
}


